default_language_version:
    python: python3.12
default_stages: [pre-commit, pre-push]
fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        types_or: [ python, pyi ]
    -   id: trailing-whitespace
        types_or: [ python, pyi ]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.5.2
  hooks:
    # Run the linter.
    - id: ruff
      types_or: [ python, pyi ]
      language: system
    # Run the formatter.
    - id: ruff-format
      language: system
      types_or: [ python, pyi ]
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.371
  hooks:
    - id: pyright
      types: [python]
      language: system
      args: [-p, pyproject.toml]
