version: "3"

x-shared-config: &shared-config
    ports:
        - "${PORT:-44777}:44777"
    restart: always
    logging:
        options:
            max-size: 0.25g
            max-file: 2

services:
    app:
        <<: *shared-config
        build: 
          context: .
          dockerfile: Dockerfile
          args:
            CACHEBUST: ${CACHEBUST:-$(date +%s)}